In [ ]:
import pandas as pd

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [ ]:
abbreviations = {
    "$" : " dollar ",
    "â‚¬" : " euro ",
    "4ao" : "for adults only",
    "a.m" : "before midday",
    "a3" : "anytime anywhere anyplace",
    "aamof" : "as a matter of fact",
    "acct" : "account",
    "adih" : "another day in hell",
    "afaic" : "as far as i am concerned",
    "afaict" : "as far as i can tell",
    "afaik" : "as far as i know",
    "afair" : "as far as i remember",
    "afk" : "away from keyboard",
    "app" : "application",
    "approx" : "approximately",
    "apps" : "applications",
    "asap" : "as soon as possible",
    "asl" : "age, sex, location",
    "atk" : "at the keyboard",
    "ave." : "avenue",
    "aymm" : "are you my mother",
    "ayor" : "at your own risk", 
    "b&b" : "bed and breakfast",
    "b+b" : "bed and breakfast",
    "b.c" : "before christ",
    "b2b" : "business to business",
    "b2c" : "business to customer",
    "b4" : "before",
    "b4n" : "bye for now",
    "b@u" : "back at you",
    "bae" : "before anyone else",
    "bak" : "back at keyboard",
    "bbbg" : "bye bye be good",
    "bbc" : "british broadcasting corporation",
    "bbias" : "be back in a second",
    "bbl" : "be back later",
    "bbs" : "be back soon",
    "be4" : "before",
    "bfn" : "bye for now",
    "blvd" : "boulevard",
    "bout" : "about",
    "brb" : "be right back",
    "bros" : "brothers",
    "brt" : "be right there",
    "bsaaw" : "big smile and a wink",
    "btw" : "by the way",
    "bwl" : "bursting with laughter",
    "c/o" : "care of",
    "cet" : "central european time",
    "cf" : "compare",
    "cia" : "central intelligence agency",
    "csl" : "can not stop laughing",
    "cu" : "see you",
    "cul8r" : "see you later",
    "cv" : "curriculum vitae",
    "cwot" : "complete waste of time",
    "cya" : "see you",
    "cyt" : "see you tomorrow",
    "dae" : "does anyone else",
    "dbmib" : "do not bother me i am busy",
    "diy" : "do it yourself",
    "dm" : "direct message",
    "dwh" : "during work hours",
    "e123" : "easy as one two three",
    "eet" : "eastern european time",
    "eg" : "example",
    "embm" : "early morning business meeting",
    "encl" : "enclosed",
    "encl." : "enclosed",
    "etc" : "and so on",
    "faq" : "frequently asked questions",
    "fawc" : "for anyone who cares",
    "fb" : "facebook",
    "fc" : "fingers crossed",
    "fig" : "figure",
    "fimh" : "forever in my heart", 
    "ft." : "feet",
    "ft" : "featuring",
    "ftl" : "for the loss",
    "ftw" : "for the win",
    "fwiw" : "for what it is worth",
    "fyi" : "for your information",
    "g9" : "genius",
    "gahoy" : "get a hold of yourself",
    "gal" : "get a life",
    "gcse" : "general certificate of secondary education",
    "gfn" : "gone for now",
    "gg" : "good game",
    "gl" : "good luck",
    "glhf" : "good luck have fun",
    "gmt" : "greenwich mean time",
    "gmta" : "great minds think alike",
    "gn" : "good night",
    "g.o.a.t" : "greatest of all time",
    "goat" : "greatest of all time",
    "goi" : "get over it",
    "gps" : "global positioning system",
    "gr8" : "great",
    "gratz" : "congratulations",
    "gyal" : "girl",
    "h&c" : "hot and cold",
    "hp" : "horsepower",
    "hr" : "hour",
    "hrh" : "his royal highness",
    "ht" : "height",
    "ibrb" : "i will be right back",
    "ic" : "i see",
    "icq" : "i seek you",
    "icymi" : "in case you missed it",
    "idc" : "i do not care",
    "idgadf" : "i do not give a damn fuck",
    "idgaf" : "i do not give a fuck",
    "idk" : "i do not know",
    "ie" : "that is",
    "i.e" : "that is",
    "ifyp" : "i feel your pain",
    "IG" : "instagram",
    "iirc" : "if i remember correctly",
    "ilu" : "i love you",
    "ily" : "i love you",
    "imho" : "in my humble opinion",
    "imo" : "in my opinion",
    "imu" : "i miss you",
    "iow" : "in other words",
    "irl" : "in real life",
    "j4f" : "just for fun",
    "jic" : "just in case",
    "jk" : "just kidding",
    "jsyk" : "just so you know",
    "l8r" : "later",
    "lb" : "pound",
    "lbs" : "pounds",
    "ldr" : "long distance relationship",
    "lmao" : "laugh my ass off",
    "lmfao" : "laugh my fucking ass off",
    "lol" : "laughing out loud",
    "ltd" : "limited",
    "ltns" : "long time no see",
    "m8" : "mate",
    "mf" : "motherfucker",
    "mfs" : "motherfuckers",
    "mfw" : "my face when",
    "mofo" : "motherfucker",
    "mph" : "miles per hour",
    "mr" : "mister",
    "mrw" : "my reaction when",
    "ms" : "miss",
    "mte" : "my thoughts exactly",
    "nagi" : "not a good idea",
    "nbc" : "national broadcasting company",
    "nbd" : "not big deal",
    "nfs" : "not for sale",
    "ngl" : "not going to lie",
    "nhs" : "national health service",
    "nrn" : "no reply necessary",
    "nsfl" : "not safe for life",
    "nsfw" : "not safe for work",
    "nth" : "nice to have",
    "nvr" : "never",
    "nyc" : "new york city",
    "oc" : "original content",
    "og" : "original",
    "ohp" : "overhead projector",
    "oic" : "oh i see",
    "omdb" : "over my dead body",
    "omg" : "oh my god",
    "omw" : "on my way",
    "p.a" : "per annum",
    "p.m" : "after midday",
    "pm" : "prime minister",
    "poc" : "people of color",
    "pov" : "point of view",
    "pp" : "pages",
    "ppl" : "people",
    "prw" : "parents are watching",
    "ps" : "postscript",
    "pt" : "point",
    "ptb" : "please text back",
    "pto" : "please turn over",
    "qpsa" : "what happens", 
    "ratchet" : "rude",
    "rbtl" : "read between the lines",
    "rlrt" : "real life retweet", 
    "rofl" : "rolling on the floor laughing",
    "roflol" : "rolling on the floor laughing out loud",
    "rotflmao" : "rolling on the floor laughing my ass off",
    "rt" : "retweet",
    "ruok" : "are you ok",
    "sfw" : "safe for work",
     "sk8" : "skate",
    "smh" : "shake my head",
    "sq" : "square",
    "srsly" : "seriously", 
    "ssdd" : "same stuff different day",
    "tbh" : "to be honest",
    "tbs" : "tablespooful",
    "tbsp" : "tablespooful",
    "tfw" : "that feeling when",
    "thks" : "thank you",
    "tho" : "though",
    "thx" : "thank you",
    "tia" : "thanks in advance",
    "til" : "today i learned",
    "tl;dr" : "too long i did not read",
    "tldr" : "too long i did not read",
    "tmb" : "tweet me back",
    "tntl" : "trying not to laugh",
    "ttyl" : "talk to you later",
    "u" : "you",
    "u2" : "you too",
    "u4e" : "yours for ever",
    "utc" : "coordinated universal time",
    "w/" : "with",
    "w/o" : "without",
    "w8" : "wait",
    "wassup" : "what is up",
    "wb" : "welcome back",
    "wtf" : "what the fuck",
    "wtg" : "way to go",
    "wtpa" : "where the party at",
    "wuf" : "where are you from",
    "wuzup" : "what is up",
    "wywh" : "wish you were here",
    "yd" : "yard",
    "ygtr" : "you got that right",
    "ynk" : "you never know",
    "zzz" : "sleeping bored and tired"
}

In [ ]:
try:
    import google.colab
    IN_COLAB = True
    
except ImportError:
    IN_COLAB = False

from pathlib import Path
if IN_COLAB:
    google.colab.drive.mount("/content/drive")
    
    # Change this if you created the shortcut in a different location
    AUX_DATA_ROOT = Path("/content/drive/My Drive/")
    
    assert AUX_DATA_ROOT.is_dir(), "Have you forgot to 'Add a shortcut to Drive'?"
    
    import sys
    sys.path.insert(0, str(AUX_DATA_ROOT))
else:
    AUX_DATA_ROOT = Path(".")

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/tweets-3-classes-9999.csv')

In [ ]:
df

      Unnamed: 0                                           raw_text     label
0              0  @JanaBanana5 Oh my word...so tell me are you a...  negative
1              1  Just watched the series finale of Scrubs. Why ...  negative
2              2  Just screwed up the fried noodles by adding ra...  negative
3              3              @ladybug8320 5 weeks is a long time!   negative
4              4  Synching my contacts from my old mobile to iPh...  negative
...          ...                                                ...       ...
9994        9994  BREAKING: Supreme Court convicts in disproport...   neutral
9995        9995  If @Mr_A_Johnson is up. #twitter is gona have ...   neutral
9996        9996  #Microsoft #Cloud Oracle, Windows Garner Diffe...   neutral
9997        9997  @paulbentleymelb @apple I think they call that...   neutral
9998        9998  #Microsoft researchers want to turn your hand ...   neutral

[9999 rows x 3 columns]

In [ ]:
df.label.unique()

array(['negative', 'positive', 'neutral'], dtype=object)

In [ ]:
df.columns

Index(['Unnamed: 0', 'raw_text', 'label'], dtype='object')

In [ ]:
df.label.value_counts()

positive    3333
neutral     3333
negative    3333
Name: label, dtype: int64

In [ ]:
df

      Unnamed: 0                                           raw_text     label
0              0  @JanaBanana5 Oh my word...so tell me are you a...  negative
1              1  Just watched the series finale of Scrubs. Why ...  negative
2              2  Just screwed up the fried noodles by adding ra...  negative
3              3              @ladybug8320 5 weeks is a long time!   negative
4              4  Synching my contacts from my old mobile to iPh...  negative
...          ...                                                ...       ...
9994        9994  BREAKING: Supreme Court convicts in disproport...   neutral
9995        9995  If @Mr_A_Johnson is up. #twitter is gona have ...   neutral
9996        9996  #Microsoft #Cloud Oracle, Windows Garner Diffe...   neutral
9997        9997  @paulbentleymelb @apple I think they call that...   neutral
9998        9998  #Microsoft researchers want to turn your hand ...   neutral

[9999 rows x 3 columns]

In [ ]:
import nltk
# import spacy
import re

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:

stopword = set(stopwords.words('english'))
print(sorted(list(stopword)))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn', "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']

In [ ]:
from nltk.tokenize import TweetTokenizer

In [ ]:
# data_telecom['international plan'] = data_telecom['international plan'].map(dict(yes=1, no=0))
df.label.unique()

array(['negative', 'positive', 'neutral'], dtype=object)

In [ ]:
df['label'] = df['label'].map(dict(negative=0, positive=2, neutral=1))

In [ ]:
df[df.label == 2]

      Unnamed: 0                                           raw_text  label
3333        3333  @TeiraJBrazil hi Teira, thx for following me i...      2
3334        3334    @tommcfly Not for mcfly? Ah well have fun!  xxx      2
3335        3335  Freezing my tits off!! kari and johnny are com...      2
3336        3336                            Going to simple simons       2
3337        3337  @TalindaB  Hello,how are you? I saw new pictur...      2
...          ...                                                ...    ...
6661        6661  Feeling lazy... just cooking rice + egg for di...      2
6662        6662  @HoffmanRobert Your such an amazing dancer and...      2
6663        6663  http://fotolog.com/iheartmarion please?  about...      2
6664        6664  @tony_fagerlund - Yellowbird... I am even more...      2
6665        6665  My iPhone 4S battery lasted longer than a day....      2

[3333 rows x 3 columns]

In [ ]:
df.raw_text.iloc[3335]

'Freezing my tits off!! kari and johnny are coming over '

In [ ]:
df.raw_text

0       @JanaBanana5 Oh my word...so tell me are you a...
1       Just watched the series finale of Scrubs. Why ...
2       Just screwed up the fried noodles by adding ra...
3                   @ladybug8320 5 weeks is a long time!
4       Synching my contacts from my old mobile to iPh...
                              ...
9994    BREAKING: Supreme Court convicts in disproport...
9995    If @Mr_A_Johnson is up. #twitter is gona have ...
9996    #Microsoft #Cloud Oracle, Windows Garner Diffe...
9997    @paulbentleymelb @apple I think they call that...
9998    #Microsoft researchers want to turn your hand ...
Name: raw_text, Length: 9999, dtype: object

In [ ]:
tt = TweetTokenizer()

In [ ]:
df['raw_text'] = df['raw_text'].astype('str')

In [ ]:
def word_preproc(tweet):
    tweet = tweet.lower()
    tt = TweetTokenizer()
    tokens = tt.tokenize(tweet)
    
    #tokens = [w for w in tokens if len(w)>2]
    #Removing Stop Words
    final_tokens = [w for w in tokens if w not in stopword]
    #reducing a word to its word stem 
    wordLemm = WordNetLemmatizer()
    finalwords=[]
    for w in final_tokens:
        if len(w)>1:
            word = wordLemm.lemmatize(w)
            finalwords.append(word)
    return ' '.join(finalwords)

In [ ]:
def abbr_decode(tweet):
    t=[]
    words=tweet.split()
    t = [abbreviations[w.lower()] if w.lower() in abbreviations.keys() else w for w in words]
    return ' '.join(t)

In [ ]:
df['processed_tweets'] = df['raw_text'].apply(lambda x: word_preproc(x))
df['processed_tweets'] = df['raw_text'].apply(lambda x: abbr_decode(x))

In [ ]:
#removing shortwords
# df['processed_tweets']=df['processed_tweets'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))

In [ ]:
df

      Unnamed: 0  ...                                   processed_tweets
0              0  ...  @JanaBanana5 Oh my word...so tell me are you a...
1              1  ...  Just watched the series finale of Scrubs. Why ...
2              2  ...  Just screwed up the fried noodles by adding ra...
3              3  ...               @ladybug8320 5 weeks is a long time!
4              4  ...  Synching my contacts from my old mobile to iPh...
...          ...  ...                                                ...
9994        9994  ...  BREAKING: Supreme Court convicts in disproport...
9995        9995  ...  If @Mr_A_Johnson is up. #twitter is gona have ...
9996        9996  ...  #Microsoft #Cloud Oracle, Windows Garner Diffe...
9997        9997  ...  @paulbentleymelb @apple I think they call that...
9998        9998  ...  #Microsoft researchers want to turn your hand ...

[9999 rows x 4 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#ngram_range=(3, 5),
vectorizer = TfidfVectorizer(  min_df=0.002, max_df= 0.4,ngram_range=(1, 10) )
vectors = vectorizer.fit_transform(df.processed_tweets)
vectors.shape

(9999, 1073)

In [ ]:
vectors

<9999x1073 sparse matrix of type '<class 'numpy.float64'>'
	with 101030 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.model_selection import train_test_split
X=vectors
y=df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,random_state=19)

In [ ]:
from sklearn.naive_bayes import ComplementNB
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from math import *
cnb = ComplementNB()
cnb.fit(X_train, y_train)
cross_cnb = cross_val_score(cnb, X, y,n_jobs = -1)
print("Cross Validation score = ",cross_cnb)                
print ("Train accuracy ={:.2f}%".format(cnb.score(X_train,y_train)*100))
print ("Test accuracy ={:.2f}%".format(cnb.score(X_test,y_test)*100))
train_acc_cnb=cnb.score(X_train,y_train)
test_acc_cnb=cnb.score(X_test,y_test)

Cross Validation score =  [0.6855     0.6915     0.6935     0.681      0.69734867]
Train accuracy =73.51%
Test accuracy =68.70%

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from math import *
mnb = MultinomialNB(alpha=1)
mnb.fit(X_train, y_train)
cross_mnb = cross_val_score(mnb, X, y,n_jobs = -1)
print("Cross Validation score = ",cross_mnb)                
print ("Train accuracy ={:.2f}%".format(mnb.score(X_train,y_train)*100))
print ("Test accuracy ={:.2f}%".format(mnb.score(X_test,y_test)*100))
train_acc_mnb=mnb.score(X_train,y_train)
test_acc_nnb=mnb.score(X_test,y_test)

Cross Validation score =  [0.681      0.6885     0.691      0.6785     0.68584292]
Train accuracy =73.48%
Test accuracy =68.43%

In [ ]:
from sklearn import svm
from sklearn.linear_model import SGDClassifier

In [ ]:
svc = svm.SVC(max_iter=-1)
svc.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, svc.predict(X_test))

0.7206666666666667

In [ ]:
accuracy_score(y_train, svc.predict(X_train))

0.9304186312330333